<div class="_weatherGrid Grid hide">
    <span class="label-info">
        Records from the uploaded file can be seen in this table
    </span>
    <div>
        <table class="table">
            <thead class="text-uppercase panel-title">
                <tr>
                    <td>
                        Index
                    </td>
                    <td>
                        City Id
                    </td>
                    <td>City Name</td>
                    <td>
                        Temperature
                    </td>
                    <td>
                        Pressure
                    </td>
                    <td>
                        Humidity
                    </td>
                    <td>
                        Minimum Temperature
                    </td>
                    <td>
                        Max Temperature
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

